@charset "utf-8";
/*tablet layout*/
@media all and (max-width:960px){

#main_header{height: 1180px;position: relative;}
#header_top{
	width:100%;height: 50px;
	position:relative;
}
#header_top > h1{float: left;color:black;}
#header_top > #main_menu{position: fixed;width: 100%;height: 100%;background-color:rgba(0,120,120,1);z-index: 99999;
						left: -100%;}
#header_top > #main_menu > ul{position: absolute;left: 50%;top: 50%;transform:translate(-50%,-50%);}
#header_top > #main_menu > ul > li{text-align: center;}
#header_top > #main_menu > ul > li > a{display: block;color:white;text-align: center;font-size:2em;font-weight:bold;line-height:2em;}



#header_top > .toggleMenu{right:0;width:50px;height:50px;position:fixed;cursor:pointer;z-index:9999999;display:block;}


.toggleMenu div{
			width:35px;height: 5px;background-color: #000;
			position: absolute;border-radius:3px;left:7px;
			transition:0.3s;
		}
.toggleMenu .bar1{top:11px;}
.toggleMenu .bar2{top:21px;}
.toggleMenu .bar3{top:31px;}

.toggleMenu.change .bar1{transform:rotate(-45deg);top:21px;background-color:#fff;}
.toggleMenu.change .bar2{opacity:0;}
.toggleMenu.change .bar3{transform:rotate(45deg);top:21px;background-color:#fff;}

/*bxslider*/
.slider_wrap{}
.slider_wrap ul li{height: 500px;}
.slider_wrap li.first{
	background:url(../images/mainimg01.jpg) no-repeat center;
	background-size:cover;
}
.slider_wrap li.second{
	background:url(../images/mainimg02.jpg) no-repeat center;
	background-size:cover;
}

.slider_wrap .slider_txt{
	width: 700px;position: absolute;left:50%;margin-left:-350px;
	_background-color:rgba(255,255,255,0.3);top:30%;color:white;text-align:center;
	_padding:20px 20px 30px 20px;_box-shadow:0 0 10px #000;
}
.slider_wrap h3{font-size:3.5em;text-shadow:0px 0px 8px #000}
.slider_wrap h3:after{
	content:"";display: block;width: 300px;height: 3px;
	background-color: #fff;margin: 20px auto;
}

.slider_wrap .bx-wrapper{
    box-shadow: none;
    border: 0px none;
    background: none;
}
.slider_wrap .bx-pager{
    bottom: 350px;
}

/*header content*/

#main_header .content{
	width:100%;_background-color: #fff;position: absolute;bottom:0;
	
}
#main_header .content li{float: left;width: 25%;height:315px;}


.content li.content1st,
.content li.content2st,
.content li.content5st,
.content li.content6st,
.content li.content8st,
.content li.content9st,
.content li.content10st,
.content li.content11st,
.content li.content12st{display: none;}

/*
.content li.content3st{width:100% !important;position: relative;
	_background-color:white;
	color:black;font-weight:bold;display: block;}
.content li.content3st .slide2 .left:after{
	content:"";
	border-width:20px;
	border-style:solid;*/
	/*border-color:red orange yellow green;*/
/*	border-color:transparent  transparent transparent #fff;
	position: absolute;
	left:50%;top:45%;
	z-index:1;
}
*/
/*.content li.content3st .slide2 li{width:100% !important;_background-color:blue;}
.content li.content3st .slide2 div{width:50%;height:50%;float: left;}
.content li.content3st .slide2 div.left{padding:none;}
.content li.content3st .slider2wrap .bx-wrapper {width:100% }
.content li.content3st .btn{position: absolute;left:10%;bottom:2%;cursor:pointer;}
.content li.content3st .btn img{float: left;width:38px;border: 1px solid #cdcdcd;display: block;}
.right{width: 50%;position: absolute;right: 0;}
.left{width: 50%;left: 0;}
.content li.content3st .bx-wrapper {

    box-shadow:none;
    border:none;
    background: #fff;
}*/
.content li.content3st{width: 100% !important;position: relative;}
.content li.content3st h2{width: 200px;position: absolute;top: 20px;left: 30px;z-index: 1;}
.content li.content3st .slide2 li{width: 100% !important;}
.content li.content3st .slide2 li .left{width: 50%;float: left;padding-left: 30px;padding-top: 60px;padding-right: 30px;}
.content li.content3st .slide2 li .right{width: 50%;float:left;position: relative;height: 315px;}
.content li.content3st .slide2 li .right img{width: 100%;position: absolute;left: 0;top: 50%;transform:translateY(-50%);}
.content li.content3st .slide2 li .right:after{content:"";border-width:20px;border-style:solid;border-color:transparent transparent transparent #fff;
position: absolute;z-index: 1;top: 50%;transform:translateY(-50%);}
.content li.content3st .bx-wrapper{box-shadow:none;border:none;background: #fff;margin-bottom: 0;top: 0;}
.content li.content7st{width: 100% !important; color:#fff; overflow: hidden; position: relative;background-color: #000;}
.content li.content7st img{width: 100%;position: absolute; top: 50%;transform:translateY(-50%);}

.content .card{position: absolute;top:40px;left:40px;}
.content .card h3:after{
	content:"";display: block;width: 30px;height: 3px;background-color: #fff;
	margin:20px 0;
}
.content .card p{font-size:2em;}


/*container*/
.container{display: none;}

#footer_wrap{border-top: 2px solid #000; height: 200px;}
#footer_wrap .footer{width:100%; margin: 0 auto; padding-top: 10px;text-align: center;}
#footer_wrap .footer>div{}
#footer_wrap .footer>div.logo{width: 100%; font-size: 2em; font-weight: bold}
#footer_wrap .footer>div.copy ul{margin-bottom: 15px;}
#footer_wrap .footer>div.copy li{position: relative; float: left;}
#footer_wrap .footer>div.copy li:after{content: ""; display: block; position: absolute; width: 2px; height: 15px; background: #000; top: 10px;left: 0;}
#footer_wrap .footer>div.copy li:nth-child(1):after{content: ""; display: none;}
#footer_wrap .footer>div.copy a{display: block; line-height: 25px; padding: 5px 20px;}
#footer_wrap .footer>div.copy address{font-style: normal; padding-left: 20px; line-height: 1.5em; color:#aaa;}


}
